html, body {
  font-family: 'Open Sans', sans-serif;
  color: #09172E;
  background-color: #fff7EF;
  text-align: center;
  max-width: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #09172E;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans';

}

hr {
  width: 40%;
  height: 18px;
  border-width: medium;
  border-radius:
  /*border-color: #09172E;*/
}
#features hr {
  width: 100%;
}

.space {
    height: 2rem;
    display: block;
}

.red-bg {
  background: #E62F48;
}

.cta-bg-big{
  background: url(../img/holiday.png) bottom center no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 40rem;
}

.cta-bg-small{
  background: url(../img/holiday_small.png) center center no-repeat;
  background-size: cover;
}

.white {
  color: #fff;
}

.item h1 {
  color: #09172E;
  font-weight: 300;
  font-family: 'Open Sans';
}

#Question-1 h1{
  margin: 0;

  padding-bottom: 2rem;
}
.ribbon{
  	position: absolute;
  	top: 28px;
  	right: 11px;
  	width: 82px;
  	height: 82px;
  	overflow: hidden;
  	z-index: 10

}
.popular{
  background: url("../img/ribbons/five-stars.png") 0 0 no-repeat;
}

.value{
  background: url("../img/ribbons/exclusive.png") 0 0 no-repeat;
}

#Question-1 .red{
  font-weight: 400;
  text-shadow: -3px 3px rgba(255, 255, 255, 0.6);
}

#feature-one .container{
  text-align: left !important;
}

#feature-promo1 .container{
  align-items: center;

  display: block;
}

#delivery {
    background: linear-gradient(270deg, #e62f48, #ffcd45);
    background-size: 400% 100%;
}

#delivery img{
  max-width: 800px;
  width: 100%;
}

#delivery .container{
  padding: 3rem 1rem;
  display: block;
}
#testamonial .fa{
  color: #fff7ef;
}

#testamonial {
  color: #fff7ef;
  line-height: 1.25em;
  font-weight: 300;
  background-color: #09172E;
  padding: 2em;
}

#testamonial h1,{
  color: white;
  font-weight: 300;
  font-size: 3em;
  line-height: 1.25em;
}

#cta-footer-1{
  align-items: bottom;
}

#cta-footer-1 .container{
  transform: translateY(45%);
}

#footer-keydrop{
margin: 2rem;
}

.btn-primary .fa{
  color: #FFCD45;
}

.btn .fa{
  font-size: 1.25em;
}

#cta-footer-1 .col-sm-6{
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25rem;
  padding-bottom: 2rem;
}
#cta-footer-1 .col-sm-6 .btn{
  padding-right: 1em;
}

#cta-footer-2 .col-sm-12{
  transform: translateY(100%);
}
#cta-footer-2 .fa{
  color: #E62F48;
}
#cta-footer-2 .col-sm-12 .btn{
  margin-bottom: 2em;
  overflow-y: hidden;
}
.owl-stage-outer{
  float: left;
  max-width: 700px;
  overflow-x: hidden;
}

#question-carousel .container{
  overflow-x: hidden !important;
}

.jumbotron {
  background: url('../img/BG_hero.jpg') center right no-repeat;
  background-size: cover;
  min-height: 36rem;
  padding-bottom: 0rem;
  padding-top: 0.5rem;
  margin: 0;
}

.jumbotron .container {
  display: inline;
  animation-delay: 1s;
}

.jumbotron .btn-primary {
  animation-delay: 7.5s;
  animation-duration: 1.1s;

    white-space:nowrap;
}

.jumbotron .btn-secondary {
  animation-delay: 8s;
  animation-duration: 1.25s;

  white-space: pre-wrap;
}

.container {
  text-align: center;

}

.container-header {
  background-color: RGBA(255, 255, 255, 0.8);

}

.jumbotron img {
  transform: translateX(-10px);
  animation-delay: 0.75s;
  animation-duration: 1s;
}

.red {
  color: rgb(244, 58, 92);
  display: inline-block;
  animation-delay: 1.25s;
  animation-duration: 0.75s;
}
.bg-red{
  background-color: rgb(244, 58, 92);
}

.bg-blue{
  background-color: #09172E;
}
.blue {
  color: #09172E;
  animation-delay: 2s;
  animation-duration: 0.25s;
  display: inline-block;

}
.fadeout {

    transform: translateY(-3em);
    bottom: 50em;
    height: 3em;
    z-index: 10;

    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.champ {
  color: #FEF6F0;
  font-weight: 400;
}

.sun {
  color: #FFCD45;
  font-weight: 400;
}
.first-spawn {
  animation-delay: 3.2s;
  animation-duration: 0.5s;
}

.second-spawn {
  animation-delay: 3.6s;
  animation-duration: 0.5s;
}

.third-spawn {
  animation-delay: 3.9s;
  animation-duration: 0.5s;
  display: inline-block;
}

.fourth-spawn {
  animation-delay: 4.3s;
  animation-duration: 0.5s;
  display: inline-block;
}

.fifth-spawn {
  animation-delay: 4.8s;
  animation-duration: 0.5s;
  display: inline-block;
}

.sixth-spawn {
  animation-delay: 5s;
  animation-duration: 0.5s;
  display: inline-block;
}

.seventh-spawn {
  animation-delay: 5.5s;
  animation-duration: 0.5s;
  display: inline-block;
}

.eight-spawn {
  animation-delay: 5.7s;
  animation-duration: 0.4s;
  display: inline-block;
}

.jumbotron h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

}

section.jumbotron h1 .red, .red-1 {
  font-family: 'Poppins', sans-serif;
  color: rgb(244, 58, 92);
  font-weight: 400;
  line-height: 2.5rem;
  background-color: RGBA(254, 246, 240, 0.9);
}

a.typewrite {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2em;
  color: rgba(244, 58, 92, 0.95);
  overflow: hidden !important;
  white-space: nowrap !important;
  background-color: RGBA(254, 246, 240, 0.9);
  animation-delay: 6s;
  animation-duration: 0.5s;
  padding: 0 0.5rem;
  display: inline;
}

a.typewrite:hover {
  color: rgb(244, 58, 92);
}

.navbar-brand {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 3rem;
  position: absolute;
  z-index: 2;
  right: 50% !important;
  line-height: 3rem;
  letter-spacing: -3px;
  transform: translateX(115px);
    /*background-color: RGBA(254, 246, 240, 0.6);*/
  animation-delay: 1s;
  animation-duration: 0.5s;
  display: inline;
}

.btn {
  font-family: 'Open Sans';
  font-size: 1em;
}

.btn-primary {
  color: #fff;
  font-weight: 300;
  letter-spacing: 1px;
  background-color: rgb(244, 58, 92);
  border-color: rgb(244, 58, 92);
  border-width: 2px;
  padding-left: 1.5em;
  padding-right: 1.5em;
  text-shadow: none;
  margin-bottom: 0rem;
  margin-top: 1rem;
  display: inline-block;
}

.btn-primary-outline{
  color: rgb(244, 58, 92);
  font-weight: 400;
  letter-spacing: 1px;
  background-color: transparent;
  border-width: 2px;
  border-color: rgb(244, 58, 92);
  padding-left: 1em;
  padding-right: 1em;
  text-shadow: none;
  margin-bottom: 0rem;
  margin-top: 1rem;

}

.btn-primary-outline .fa{
  color: #0D1524;
}
.btn-secondary {
  color: RGBA(13, 21, 36, 0.95);
  font-weight: 400;
  letter-spacing: 1px;
  border-width: 2px;
  border-color: RGBA(13, 21, 36, 0.95);
  background-color: transparent;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: 1rem;
  display: inline-block;
}


.btn .fa {
  padding-right: 1rem;

    animation-duration: 1.5s;
    font-weight: 400;
  animation-iteration-count: infinite;
}


.btn-primary:hover {
  letter-spacing: 1px;
  color: #E62F48 ;
  font-weight: 400;
  background-color: #ffCd45;
  border-color: transparent;
  box-shadow: -7px 7px rgba(0, 0, 0, 0.4);
  text-shadow: -3px, 2px rgba(0, 0, 0, 0.95);
  transform: translateY(-2px);
  transition: all 0.23s ease-in-out;
}
.btn-primary:hover .fa {
  color: #E62F48
}
.btn-primary-outline:hover {
  letter-spacing: 1px;
  color: #FFF;
  font-weight: 400;
  background-color: #FFCD45;
  border-color: transparent;
  box-shadow: -7px 7px rgba(0, 0, 0, 0.4);
  text-shadow: none;
  transform: translateY(-2px);

  transition: all 0.23s ease-in-out;
}

.btn-primary .fa ::after{
  color: #E62F48
}

.btn-secondary:hover {
  letter-spacing: 1px;
  color: #09172E;
  font-weight: 400;
  background-color: #ffcd45;
  border-color: transparent;
  box-shadow: -7px 7px rgba(0, 0, 0, 0.4);
  text-shadow: none;
  transform: translateY(-2px);
  transition: all 0.23s ease-in-out;
}

#features {
  margin: 0;
}



#features .container{
    padding-top: 2rem;}

#features .btn{
  font-size: 1em;
}

#features .row{
  min-height: 10vh;
}

#features .card{
    border: 0;
    background-color: #fff7EF;
    transition: all .3s ease-in-out;
    margin-top: 1em;
    position: relative;
    will-change: transform;
    padding-left: 1rem;
    padding-right: 1rem;
}

#features p{
  text-align: left;
}

#cta-footer-1{
  transform: translateY(-16px)
}
#pricing{
  background: linear-gradient(270deg, #e62f48, #ffcd45);
  background-size: 400% 100%;
}
#pricing .row {
  min-height: 10vh;

}
#pricing .btn {
  margin-left: 0;
  font-size: 1em
}
#pricing .list-group {
  align-items: left;
}
#pricing .card {
  border: 0;
  border-radius: 0.5em;
  -webkit-box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 0px 0 rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
  padding: 2rem;
  margin-top: 2em;
  align-items: center;
  position: relative;
  will-change: transform;
}
#pricing .card:after {
  content: '';
  position: bottom;
  top: 15px;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #09172E;
  transition: 0.5s;
}
#pricing .card:hover {
  transform: translateY(-2px);
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
}
#pricing .card:hover:after {
  width: 100%;
}
#pricing h4{
  font-weight: 300;
}
#pricing .fa {
  margin-right: 0.75em;
}
#pricing .btn .fa{
  padding-right: 0;
}
#pricing .card .card-header {
  background-color: white;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
#pricing .card .card-title {
  margin-bottom: 1rem;
  font-weight: 400;
}
#pricing .card .card-block {
  padding-top: 0;
}
#pricing .card .list-group-item {
  border: 0px;
  padding: .25em;
  color: #09172E;
  font-weight: 300;
background-color: transparent !important;
}

#pricing .display-2 {
  font-size: 7rem;
  letter-spacing: -.5rem;
}
#pricing .display-2 .currency {
  font-size: 2.75rem;
  position: relative;
  font-weight: 400;
  top: -45px;
  letter-spacing: 0px;
}
#pricing .display-2 .period {
  font-size: 1rem;
  color: #b3b3b3;
  letter-spacing: 0px;
}
#pricing .red{
  background-color: transparent;
  font-weight: 400;
}
#pricing .container{
  padding: 1rem;
  padding-bottom: 2rem;
}

#pricing .card-alternative .display-2 .period {
  color:#0D1524;
}
#pricing .card-alternative{
  background-color: rgba(255, 50, 72, 1.0) ;
  border-color: #0D1524;
}
#pricing .card-alternative .list-group .red{
  font-weight: 400 !important;
}
#pricing .card-header, #pricing .list-group-item{
  background-color: transparent !important;
}
#pricing .text-muted {
  color: #0D1524 !important;
}
#pricing .btn-secondary{
  background-color: #FFCD45;
  border-color: transparent;
}
#testamonial .container{
  padding: 2rem;
}
#frequently-asked .display-2 {
  text-align: center !important;
  overflow: hidden;
}
#question-carousel .card .back .container{
     height: 320px;
     padding-top: 0;
     overflow-y: scroll;
     text-align: left;
     font-size: 1rem;
     margin-top: 1rem;

}

#frequently-asked .card .back .main{
  overflow-y: hidden;
}
#frequently-asked a{
  color: rgb(244, 58, 92);
  text-decoration: underline !important;
}
#frequently-asked{
  display: inline;
}
.modal-content .float-right{
  float: none;
}
.modal-content{
  align-items: center;
  background: linear-gradient(270deg, #e62f48, #ffcd45);
  background-size: 400% 100%;
}
.modal-body p{
  animation-delay: 1.25s;
  font-weight: 600;
}
.modal-body .fa{
  text-shadow: -3px 6px rgba(0, 0, 0, 0.5);
  animation-iteration-count: 3;
  animation-duration: 1.1s;
  animation-delay: 0.5s;
}


section.contact .container, section.contact h1 {
  text-align: center;
  margin-bottom: 0;
  padding: 1rem;
  margin-bottom: 0;


}

section.contact {
padding-bottom: 2rem;
  align-items: center center;
      background: linear-gradient(270deg, #e62f48, #ffcd45);
      background-size: 400% 100%;
  }
}

section.contact .red {
  color: rgb(244, 58, 92);
  background-color: transparent;
}

section.contact h1 {
  padding-top: 2rem;
  padding-bottom: 1rem;
  color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-shadow: -3px 2px rgba(0, 0, 0, 0.3);
  margin-top:0;
}

section.contact .fa {
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

section.contact ul.list-social li a {
  display: block;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 3rem;
  border-radius: 100%;
  color: #fff;
  margin-left: 0.25rem;
  text-shadow: -4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: -8px 8px rgba(0, 0, 0, 0.25);
  margin-top: 1rem;
}

section.contact ul.list-social li.social-twitter a {
  background-color: #1da1f2;
}

section.contact ul.list-social li.social-twitter a:hover {
  background-color: #FEF6F0;
  color: #1da1f2;
  transform: translateY(-2px);
  transition: all 0.23s ease-in-out;
  text-shadow: none;
}

section.contact ul.list-social li.social-facebook a {
  background-color: #3b5998;
}

section.contact ul.list-social li.social-facebook a:hover {
  background-color: #FEF6F0;
  color: #3b5998;
  transform: translateY(-2px);
  transition: all 0.23s ease-in-out;
  text-shadow: none;

}

section.contact ul.list-social li.social-instagram a {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

section.contact ul.list-social li.social-instagram a:hover {
  background: #FFF;
  color: #E62F48;

  transform: translateY(-2px);

  transition: all 0.23s ease-in-out;
  text-shadow: none;

}

section.contact ul.list-social li.social-whatsapp a {
  background-color: #25D366;
}

section.contact ul.list-social li.social-whatsapp a:hover {
  background-color: #FEF6F0;
  color: #25D366;
  transform: translateY(-2px);
  transition: all 0.23s ease-in-out;
  text-shadow: none;
}

section.contact li.social-whatsapp {
  animation-delay: 1s;
  padding-left: 0.5rem;
}

section.contact li.social-facebook {
  animation-delay: 01.3s;
}

section.contact li.social-instagram {
  animation-delay: 1.6s;
}

section.contact li.social-twitter {
  animation-delay: 1.9s;
}

footer {
  padding: 0;
}
footer a {
  font-weight: 600;
  text-decoration: underline;
}
footer p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}
.footer-title {
  margin: 0 0 22px;
  padding-top: 21px;

}
.footer-brand {
  display: block;
  margin-bottom: 26px;
  width: 220px;
}
.footer-brand img {
  width: 216px;
}
.footer-banner {

  color: #FEF6F0;
align-items: center;
  min-height: 180px;
padding: 2rem;
}



.footer-banner .footer-title {
  color: #FEF6F0;
}
.footer-banner a {
  color: #fff;
  text-decoration: underline;
}
.footer-banner a:hover {
  text-decoration: none;
}



@media (max-width:320px) {
.jumbotron .btn-primary{
  padding-left: 0.25rem;
}

}

@media (max-width:425px) {

  #pricing .card{
    padding: 0;
  }
  .container-header{
    padding: 0;
  }

  a.typewrite {
    font-size: 2em;
    padding-top: 0;
  }
  #contact .container{
    padding: 0;
  }
  .jumbotron h1{
    padding-top:0;
    margin-top: 0;
  }
#feature-promo .container img{
  width: 100%;
}

#frequently-asked .display-2 {
  font-size: 4rem;

}
}

#frequently-asked .btn-primary{
  z-index: 20;
}


#footer-keydrop .footer-banner{
  margin-top: 2rem;
}
#footer-keydrop .container{
  transform: translateY(50%);
}
@media (max-width:375px) {
  .navbar-collapse {
    position: absolute;
    transform: translateX(90px);
  }

  .navbar-brand {
    font-size: 3rem;
    transform: translateX(110px);
  }
}


@media (max-width:767px) {
  .move-down {
    margin-top: 28rem !important;
  }
  #footer-keydrop{
    transform: translateY(45%);
  }
}


@media (max-width:1198px){
  #pricing .card {
    padding: 1rem;
  }
}

@media (min-width:320px) {
  .container-header {
    background-color: transparent;
    margin-top: 0rem;
  }

 #jumbotron .red {
    background-color: rgba(254, 246, 240, 0.6) !important;
  }

  .button-jumbotron {
    background-color: rgba(254, 246, 240, 0.8);
    padding-bottom: 0.5rem;
    animation-delay: 6.5s;
  }

  .jumbotron h1 {
    font-size: 1.25rem;
    /*padding-top: 2rem;
    padding-bottom: 1rem;*/
  }

  .jumbotron {
    min-height: 36rem;
  }

  .jumbotron img {
    display: inline;
    width: 25%;
  }

  a.typewrite {
    font-weight: 600;
  }

  .jumbotron p {
    margin-top: .5rem;
  }


}
@media (min-width:375px) {

  .container-header {
    background-color: transparent;
  }

  .jumbotron {
    min-height: 42rem;
  }

  .jumbotron img {
    display: inline;
    width: 20%;
  }

  .jumbotron h1 {
    font-size: 1.25rem;
  }

  a.typewrite {
    font-weight: 600;
    border-radius: 0.25rem;
  }

  .button-jumbotron {

    border-radius: 0.25rem;

  }
}
@media (min-width:414px) {
  .jumbotron img {
    display: inline;
    width: 20%;
  }

  .jumbotron h1 {
    font-size: 1.5rem;
  }

  .jumbotron {
    min-height: 45rem;
  }

  section.contact {
    padding-bottom: 2rem;
  }


}

@media (min-width:578px) {
#footer-keydrop .container{
  transform: translateY(0%);
}

  .container-header {
    /*background-color: RGBA(255, 255, 255, 0.8*/
        );
    display: inline-block;
    margin-top: 2rem;
  }

  .jumbotron p {
    margin: 0rem;
  }

  a.typewrite {
    font-weight: 600;
    font-size: 4rem;

  }

  .jumbotron {
    min-height: 50rem;
  }

  .jumbotron .btn{
    font-size: 1.5em
  }
  .jumbotron img {
    display: inline;
    width: 15%;
  }

  .btn-primary {

    margin-left: 1rem;
  }

  .btn-secondary {

    font-weight: 400;
  }

  .button-jumbotron {
    padding-top: 1rem;
    padding-bottom: 2rem;
    margin: 0;

    display: inline-block;

  }

  section.contact {
    padding-bottom: 2rem;
  }
}

@media (min-width:768px) {
  .jumbotron img {
    display: inline;
    width: 15%;
    padding-top: 1.5rem;
  }

  .jumbotron {
    min-height: 60rem;
  }

  a.typewrite {
    font-weight: 600;
    font-size: 4rem;
  }

  .jumbotron h1 {
    font-size: 2rem;
    font-weight: 300;
  }

  .btn {
    padding-left: 1em;
    padding-right: 1em;
  }

  .btn-primary {

    border-radius: 0.25em;
    margin-right: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
  }

  .btn-secondary {

    border-radius: 0.25em;
    margin-left: 0.5rem;
    font-weight: 400;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .btn-primary-outline{

  }
  .navbar-brand {
    font-size: 4.5rem;
    transform: translateX(165px);
  }
}

@media (min-width:992px) {
  .navbar-brand {
    font-size: 4.5rem;
    transform: translateX(170px);
  }

  .container-header {
    min-width: 800px;
    margin-top: 2rem;
      overflow: hidden;
  }
  .owl-stage-outer{
  max-width: 1024px;
  overflow-x: hidden;
  }
  section.contact ul.list-social li a {
    width: 100px;
    height: 100px;
    font-size: 4rem;
    line-height: 100px;
    margin-bottom: 3rem;
  }

  .jumbotron img {
    display: inline;
    width: 8%;
  }

  .jumbotron {
    min-height: 60rem;
  }

  a.typewrite {
    font-weight: 600;
    font-size: 5rem;
  }

  section.contact {
    padding-bottom: 0rem;
  }

  section.contact h2 {
    font-size: 2.5rem;
  }
  }

}

@media (min-width:1440px) {
  .jumbotron {
    padding-top: 1rem;
    min-height: 62rem;
  }

  .jumbotron img {
    display: inline;
    width: 8%;
  }

  .jumbotron h1 {
    font-size: 1.5rem;
  }

  #features p{
    padding-left: 0.5rem;

  }

  .btn{
    font-size: 1.25em;
  }
}
